body {
    background-color: black;
    color: white;
}

header {
    text-align: center;
}

.container {
    background-color: rgb(15, 12, 182);
    height: 80vh;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.item {
    width: 10em;
    height: 15em;
    margin: 1em;
    background-color: rgb(22, 126, 196);
    background-size: cover;
    background-position: center;
}

.one {
    background-image: url(../img/Pasted\ Graphic\ 1.jpg);
}

.two {
    background-image: url(../img/Tokyo\ Revengers\ .jpg);
}

.three {
    background-image: url(../img/DRAGON\'S\ BLOOD.jpg);
}

.four {
    background-image: url(../img/HANKYU!!.jpg);
}